body{
    /* make Safari use system default font size */
    font: -apple-system-body;
	padding:20px;
	font-family: Georgia, serif;
	/* no max-width for any orientation because lines shouldn't wrap if can be avoided */
}

/* make Safari use system default font size */
@supports (font: -apple-system-body) and (not (-webkit-touch-callout: default)) {
  :root {
    font-size: 100%;
  }
}


h1, h2 {
text-align : left;
font-size:1.2rem;
margin: 0;
padding: 0;
}

.nav{
    margin: 0;
    padding: 0;
}

.about{
    margin: 0;
    padding: 0;
}

.indexpage{
    font-family: Arial, sans-serif;
}

/* set max-width only in landscape, only for index page (nothing needed for portrait) */
@media only screen and (orientation: landscape) {
  .indexpage {
    max-width: 25em;
  }
}

