body{
    /* make Safari use system default font size */
    font: -apple-system-body;
	padding:20px;
	/* no max-width here as only needed in landscape */
}

/* make Safari use system default font size */
@supports (font: -apple-system-body) and (not (-webkit-touch-callout: default)) {
  :root {
    font-size: 100%;
  }
}

/* set max-width only in landscape (nothing needed for portrait) */
@media only screen and (orientation: landscape) {
  body {
    max-width: 25em;
  }
}

h1 {
text-align : left;
font-size:1.6rem;
border-bottom: 1px solid #000;
}

h2{
text-align : left;
font-size:1.3rem;
}



.nav{
	text-align : center;
	padding-bottom:3em;
	padding-top:2em;
}


